@tailwind base;
@tailwind components;
@tailwind utilities;

.w-18 {
  width: 4.5rem;
}

.lg\:pl-70 {
  padding-left: 17.5rem;
}

.pl-68 {
  padding-left: 17rem;
}

.pl-69 {
  padding-left: 17.25rem;
}

.pl-70 {
  padding-left: 17.5rem;
}

.lg\:pl-22 {
  padding-left: 5.5rem;
}

.pl-22 {
  padding-left: 5.5rem;
}

.pl-23 {
  padding-left: 5.75rem;
}

.lg\:pl-24 {
  padding-left: 6rem;
}

.bg-gray-75 {
  background-color: #f5f5f5;
}

:root {
  --yunyoo-100: rgba(177, 116, 209, 0.1);
  --yunyoo-200: rgba(177, 116, 209, 0.2);
  --yunyoo-300: rgba(177, 116, 209, 0.3);
  --yunyoo-400: rgba(177, 116, 209, 0.4);
  --yunyoo-500: rgba(177, 116, 209, 0.5);
  --yunyoo-600: rgba(177, 116, 209, 0.6);
  --yunyoo-700: rgba(177, 116, 209, 0.7);
  --yunyoo-800: rgba(177, 116, 209, 0.8);
  --yunyoo-900: rgba(177, 116, 209, 0.9);
  --yunyoo: #b074d1;
  --yunyoo-light: #d7b9e8;
  --yunyoo-light-2: #f3e5f5;
  --yunyoo-light-3: #fbf5ff;
  --p-inputtext-focus-border-color:var(--yunyoo-500);
}